{% extends  "layout.html" %}


{% block title %} Flask Intro - login page {% endblock %}

{% block  container  %}
<BR>
<BR>
<form method="POST" action="{{ url_for('site.login') }} "> 

<!-- <input type="text" name="username">
<input type="password" name="password"> -->
<h1> Please login</h1>
<br>
<input  type="text" placeholder="Username" name="username" value="{{ request.form.username}}" >
<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" >

<input type="submit" value="Login">
<br>

</form>

  {%   for message in   get_flashed_messages() %}
  	{{ message }}
  {% endfor %}


	{%  if error  %}
		{{ error }}
	{%  endif %}

{% endblock %}